extends layout


block content

  div.workhours-page
    h1 Working hours for 
      span#month_year
    |Daily Target: 7:36
    br
    |Weekly Target: 38h
    br
    |Default Pause: 50min

    br
    br

    div.control-section
      a#prevmonth(class='prevcurmonth' href='#' title="Previous")
        i.fa.fa-chevron-left(aria-hidden="true")
      a#currentmonth(href='#')  Month 
      a#nextmonth(class='prevcurmonth' href='#' title="Next")
        i.fa.fa-chevron-right(aria-hidden="true")

    br
    label
      input(type="checkbox", id="add_pause" checked)
      = " Tick to substract pause time"
    br

    h3 My Weeks / Working hours

    div.table-responsive
      div#timetable
        | Loading ...

    nav(aria-label="worktime pagination")
      div.custom-pagination
        ul.pagination.pull-right
          li
            a(href="#" aria-label="Previous")
              span(aria-hidden="true") &laquo;
          li.active
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
          li
            a(href="#") 4
          li
            a(href="#" aria-label="Next")
              span(aria-hidden="true") &raquo;

    br
    div#monthly_total


  //script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")

  script(type="text/javascript", src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/af-2.2.0/datatables.min.js")
  script(type="text/javascript", src="dataTables.scrollingPagination.js")

  script(type="text/javascript", src="/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/workhours.js")
