extends layout


block content

  div.workhours-page
    h1 Working hours for 
      span#month_year
    |Daily Target: 7:36
    br
    |Weekly Target: 38h
    br
    |Default Pause: 50min

    br
    br

    div.control-section
      a#prevmonth(class='prevcurmonth' href='#') &lt;Prev
      a#currentmonth(href='#')  Month 
      a#nextmonth(class='prevcurmonth' href='#') Next&gt;

    br
    label
      input(type="checkbox", id="add_pause" checked)
      = " Tick to substract pause time"
    br

    h3 My Weeks / Working hours

    div#timetable
      | Loading ...
      div.table-responsive
     

    br
    div#monthly_total


  //script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
  script(type="text/javascript", src="/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/workhours.js")
