extends layout

block headjs
  script(type="text/javascript", src="/javascripts/workhours.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")

block content
  h1= title
  |Target: 7:36
  h2= name


  a#prevmonth(href='#') &lt;Prev
  |  Month 
  a#nextmonth(href='#') Next&gt;

  br
  label
    input(type="checkbox", id="add_pause" checked)
    = " Tick to substract pause time"
  br

  h3 My Weeks / Working hours
  ul#myworkhours
    li loading ...
