extends layout

block headjs
  script(type="text/javascript", src="/javascripts/workhours.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")

block content

  div.workhours-page
    h1 Working hours for 
      span#month_year
    |Daily Target: 7:36
    br
    |Weekly Target: 38h

    br
    br

    div.control-section
      a#prevmonth(class='prevcurmonth' href='#') &lt;Prev
      a#currentmonth(href='#')  Month 
      a#nextmonth(class='prevcurmonth' href='#') Next&gt;

    br
    label
      input(type="checkbox", id="add_pause" checked)
      = " Tick to substract pause time"
    br

    h3 My Weeks / Working hours

    ul#myworkhours
      li loading ...

    br
    div#monthly_total
