/* body { */
/*   padding: 50px; */
/*   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
/* } */
/*******************************************************************************************************************
*************** GENERAL ********************************************************************************************
********************************************************************************************************************/
body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    background: #fff;
    color: #4c4c4c;
    padding: 0;
    margin: 0;
}


.workhours-page {
	overflow: hidden;
	position: absolute;
	/* width: 460px; */
	top: 10%;
	left: 10%;
	/* -webkit-transform: translateX(-50%) translateY(-50%); */
 	/* -ms-transform: translateX(-50%) translateY(-50%); */
 	/* 	transform: translateX(-50%) translateY(-50%); */
}

.workhours-page h1 {
	font-size: 32px;
	line-height: 57px;
	font-weight: 400;
	margin: 0;
}

.control-section {
	font-size: 24px;
	line-height: 57px;
	font-weight: 400;
	margin: 0;
}


a.prevcurmonth {
  /* color: #00B7FF; */
  color: #07A890;
  text-decoration: none;
}
a#currentmonth {
  color: #4c4c4c;
  text-decoration: none;
}

#myworkhours {
    font: 15px "Lucida Grande", monospace, sans-serif;
}

span#month_year {
    color: #07A890;
}


/*******************************************************************************************************************
*************** TABLES *********************************************************************************************
********************************************************************************************************************/
.table > tbody > tr  {
    font-family: "Roboto Mono", sans-serif;
	background: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: #fafafa;
}

.table > thead > tr > th {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	color: #4287ee;
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7;
}

.table > tbody > tr > td {
	border-top: none;
	padding: 12px 18px;
	color: #616161;
	font-size: 14px;
	line-height: 21px;
}

.table .label {
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	font-weight: 300;
	padding: 6px 2px;
	display: block;
}

.table .btn-actions .btn {
	background: #fafafa;
	border-radius: 0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	line-height: 21px;
	color: #616161;
    padding: 0;
}

.table .btn-actions .btn:hover {
	background: #ebebeb;
}

.table .btn-actions .btn .fa {
	padding-left: 3px;
}

.table .btn-actions .dropdown-menu {
	background: #fafafa;
	border: none;
	left: auto;
	right: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	min-width: 130px;
}

.table .btn-actions .dropdown-menu > li > a {
	color: #616161;
	padding: 8px 20px;
	font-size: 14px;
	line-height: 21px;
}

.table .btn-actions .dropdown-menu > li > a .fa {
	padding-right: 3px;
}
