/* body { */
/*   padding: 50px; */
/*   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
/* } */
/*******************************************************************************************************************
*************** GENERAL ********************************************************************************************
********************************************************************************************************************/
body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    background: #4e95bd;
    /* background: rgba(219, 246, 249, 0.58); */
    /* color: #4c4c4c; */
    color: #ffffff;
    padding: 0;
    margin: 0;
}


.workhours-page {
	overflow: hidden;
	position: absolute;
	/* width: 460px; */
	top: 1%;
	left: 20%;
	/* -webkit-transform: translateX(-50%) translateY(-50%); */
 	/* -ms-transform: translateX(-50%) translateY(-50%); */
 	/* 	transform: translateX(-50%) translateY(-50%); */
    /* padding-bottom: 50px; */
}

.workhours-page h1 {
	font-size: 32px;
	line-height: 57px;
	font-weight: 400;
	margin: 0;
}

.control-section {
	font-size: 24px;
	line-height: 57px;
	font-weight: 400;
	margin: 0;
}


a.prevcurmonth {
  /* color: #00B7FF; */
  color: #3efde1;
  text-decoration: none;
}
a#currentmonth {
  color: #ffffff;
  text-decoration: none;
}

#myworkhours {
    font: 15px "Lucida Grande", monospace, sans-serif;
}

span#month_year {
    /* color: #07A890; */
    color: #ffffff;
}


/*******************************************************************************************************************
*************** TABLES *********************************************************************************************
********************************************************************************************************************/

.table-responsive {
    padding-bottom: 60px;
}

.table > tbody > tr  {
    font-family: "Roboto Mono", sans-serif;
	/* background: #fff; */
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	/* background: #fafafa; */
}
.table-hover>tbody>tr:hover {
    background-color: #b2dfe6;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
    /* text-decoration: none; */
    /* color: #262626; */
    background-color: #b2dfe6
}

.table > thead > tr > th {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	/* color: #07a890; */
	color: #fff;
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7;
}

.table > tbody > tr > td {
	border-top: none;
	padding: 12px 18px;
	color: #000000;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
}

.table .label {
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	font-weight: 300;
	padding: 6px 2px;
	display: block;
}

.table .btn-actions .btn {
    /* background: #e0eefd; */
    background: rgba(219, 246, 249, 0.58);
    border-radius: 5;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 21px;
    color: #616161;
    font-weight: 500;
    padding: 0;
}

.table .btn-actions .btn:hover {
    background: #b2dfe6;
    /* background: #e0eefd; */
}

.table .btn-actions .btn .fa {
	padding-left: 3px;
}

.table .btn-actions .dropdown-menu {
    /* background: #e0eefd; */
    background: rgba(219, 246, 249, 0.58);
    border: none;
    left: auto;
    right: 0;
    margin: 0;
    border-radius: 5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    min-width: 130px;
}

.table .btn-actions .dropdown-menu > li > a {
	color: #616161;
	padding: 8px 20px;
	font-size: 14px;
	line-height: 21px;
}

.table .btn-actions .dropdown-menu > li > a .fa {
	padding-right: 3px;
}


/*******************************************************************************************************************
*************** CUSTOM PAGINATION **********************************************************************************
********************************************************************************************************************/
.custom-pagination {
        overflow: hidden;
}

.custom-pagination .pagination {
        margin: 0;
        border-radius: 0;
}


.custom-pagination .pagination > li > a,
.custom-pagination .pagination > li > span {
        background: #fafafa;
        color: #616161;
        font-size: 14px;
        line-height: 21px;
        padding: 6px 14px;
}

.custom-pagination .pagination > .active > a,
.custom-pagination .pagination > .active > span,
.custom-pagination .pagination > .active > a:hover,
.custom-pagination .pagination > .active > span:hover,
.custom-pagination .pagination > .active > a:focus,
.custom-pagination .pagination > .active > span:focus {
        border-color: #07a890;
        background: #07a890;
        color: #fff;
}

.custom-pagination .pagination > li:first-child > a,
.custom-pagination .pagination > li:first-child > span,
.custom-pagination .pagination > li:last-child > a,
.custom-pagination .pagination > li:last-child > span {
        border-radius: 0;
}

